/*
---  TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


---  SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
.bg-primary {
  background-color: #e67e22;
  color: #fdf2e9;
}
.bg-light {
  background-color: #fdf2e9;
  color: #333;
}
.bg-dark {
  background-color: #45260a;
  color: #fdf2e9;
}
.bg-success {
  background-color: #8ce99a;
  color: #333;
}
.bg-error {
  background-color: #ff8787;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 52.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.background-img {
  background: url("../public/intro.jpg") no-repeat center center/cover;
}

.background-light {
  background-color: #fdf2e9;
}

.logo-container:hover {
  cursor: pointer;
}

.section-container {
  font-size: 2rem;
  position: relative;
  height: 100vh;
}

/**************************/
/* General */
/**************************/
.light-overlay {
  width: 100;
  height: 100;
  background-color: rgba(255, 227, 210, 0.2);
}
.required-text {
  color: #ff8787;
}
.btn-small {
  display: inline-block;
  border: none;
  background-color: transparent;
}
.btn-small:hover {
  color: #e67e22 !important;
  cursor: pointer;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.25px;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s ease-in;
}

.btn.btn-primary,
.btn:link.btn-primary,
.btn:visited.btn-primary {
  background-color: #e67e22;
  color: #fdf2e9;
}
.btn.btn-primary:hover,
.btn:link.btn-primary:hover,
.btn:visited.btn-primary:hover {
  background-color: #cf711f;
}
.btn.btn-danger,
.btn:link.btn-danger,
.btn:visited.btn-danger {
  background-color: #ff4747;
  color: #fdf2e9;
}
.btn.btn-danger:hover,
.btn:link.btn-danger:hover,
.btn:visited.btn-danger:hover {
  background-color: #e03131;
}
.btn.btn-light,
.btn:link.btn-light,
.btn:visited.btn-light {
  background-color: #fff;
  color: #333;
}
.btn.btn-light:hover,
.btn:link.btn-light:hover,
.btn:visited.btn-light:hover {
  background-color: #fdf2e9;
}

.icon {
  margin-right: 1rem;
  color: #e67e22;
}

.round-icon {
  border-radius: 50%;
}

.mobile-menu {
  font-size: 3rem;
  display: none;
}

.mobile-menu:hover {
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0 0 2rem 0 rgba(205, 205, 205, 0.5);
}

.alert {
  padding: 2rem 3rem;
  font-size: 1.8rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alert .alert-close-btn {
  font-size: 2.5rem;
}
.alert .alert-close-btn:hover {
  color: #fdf2e9;
  cursor: pointer;
}
.alert.alert-success {
  background-color: #8ce99a;
  color: #333;
}
.alert.alert-danger {
  background-color: #ff8787;
  color: #333;
}
.hidden {
  display: none;
}

.title-primary,
.title-secondary {
  font-weight: 700;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.title-primary {
  font-size: 4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.title-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.title-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.title-mini {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.tag {
  padding: 1rem;
  border-radius: 11px;
  background-color: #e67e22;
  color: #fdf2e9;
}

.post-author-avatar {
  border-radius: 50%;
  width: 10rem;
}

.post-title {
  padding-top: 3rem;
  font-size: 3.2rem;
  font-weight: 600;
}
.post-card-like-btns {
  display: flex;
  gap: 1rem;
}

.like-btn {
  font-size: 2rem;
  border: none;
  border-radius: 9px;
  padding: 1rem 1rem 1rem 2rem;
  background-color: #fdf2e9;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  color: #e67e22;
  transition: all 0.3s;
}

.like-btn:hover {
  cursor: pointer;
  background-color: #cf711f;
  color: #fff;
}
.liked {
  background-color: #e67e22;
  color: #fff;
}
.new-post {
  background-color: #fff;
  height: 40rem;
  width: 120rem;
  padding: 3rem;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.new-post .new-post-textarea {
  font-size: 2.4rem;
  border: 1px solid #555;
  padding: 1rem;
  border-radius: 11px;
}
.new-post .new-post-submit-btn {
  width: 20rem;
  align-self: flex-end;
}
table {
  width: 70%;
  font-size: 18px;
  /* border: 1px solid #343a40; */
  border-collapse: collapse;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
}
td,
th {
  /* border: 1px solid #343a40; */
  padding: 16px 24px;
  text-align: left;
}
thead th {
  background-color: #fcab64;
  color: #fff;
  width: 25%;
}
tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}
tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

/**************************/
/* NAVIGATION */
/**************************/
.navbar {
  display: flex;
  align-items: center;
  background-color: #fdf2e9;
  opacity: 0.9;
  justify-content: space-between;
  padding: 3rem 4rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 4px #e67e22;
  top: 0;
}
.navbar .logo {
  width: 30rem;
}
.navbar .navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  font-size: 2.1rem;
}
.navbar .navbar-link:link,
.navbar .navbar-link:visited {
  text-decoration: none;
  color: #e67e22;
}
.navbar .navbar-link:hover,
.navbar .navbar-link:active {
  color: #cf711f;
}

/**************************/
/* Landing SECTION */
/**************************/
.landing {
  max-width: 130rem;
  margin: 0 auto;
  padding: 15rem 3rem;
  height: 100%;
}
.landing .landing-text-box {
  padding: 6rem 3rem;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 1.2;
}
.landing .landing-text-box .landing-title {
  color: #45260a;
  padding: 3rem;
  font-size: 4.5rem;
}
.landing .landing-text-box .landing-intro {
  font-size: 2.5rem;
}
.landing .landing-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .landing-btn-box .login-btn {
  margin-right: 2rem;
}
/**************************/
/* Signup Form */
/**************************/
.form-container {
  background-color: #fff;
  display: flex;
  position: absolute;
  left: 50%;
  top: 10%;
  padding: 10rem 5rem;
  width: 50rem;
  text-align: center;
  flex-direction: column;
  border-radius: 9px;
  row-gap: 3rem;
  transform: translate(-50%, 0);
}
.form-container .form-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.form-container .form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.form-container .form-input {
  padding: 1rem 1.5rem;
  height: 4.5rem;
  border-radius: 9px;
  border: solid 1px #555;
  font-size: 1.8rem;
}
.form-container .form-link-title {
  font-size: 1.8rem;
}
.form-container .form-link {
  margin-left: 0.7rem;
}
.form-container .form-link:link,
.form-container .form-link:visited {
  text-decoration: none;
  color: #e67e22;
}
.form-container .form-link:hover,
.form-container .form-link:active {
  color: #cf711f;
}
.form-container .btn-form {
  margin-top: 2rem;
}

/**************************/
/* Developers */
/**************************/
.developer-title {
  margin: 2rem 10rem;
  display: flex;
  align-items: center;
}

.developers-container {
  padding: 2rem 10rem;
}
.developers-container .developer {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  background-color: #fff;
  width: 100%;
  grid-gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
  padding: 2rem;
  justify-content: center;
  border-radius: 9px;
}
.developers-container .developer .developer-avatar {
  width: 20rem;
  border-radius: 50%;
}
.developers-container .developer .developer-info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  line-height: 1;
}
.developers-container .developer .developer-info .developer-btn {
  width: 20rem;
}
.developers-container .developer .developer-skill-list {
  list-style: none;
}
/**************************/
/* Dashboard */
/**************************/
.dashboard-tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
/**************************/
/* Profile */
/**************************/
.profile {
  line-height: 1.8;
}
.profile .profile-mini-title {
  margin-right: 1rem;
}
.profile .profile-top {
  padding: 3rem;
  margin: 5rem 25rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #e67e22;
  position: relative;
}
.profile .profile-top .profile-edit-btn {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.profile .profile-top .profile-avatar {
  width: 20rem;
}
.profile .profile-top .profile-top-info {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
}
.profile .profile-top .profile-top-info .profile-name {
  font-size: 3.2rem;
}
.profile .profile-top .profile-top-info .profile-social {
  display: flex;
  gap: 1rem;
}
.profile .profile-top .profile-top-info .profile-social .social-icon {
  font-size: 3.2rem;
}
.profile .profile-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  margin: 10rem 25rem;
  row-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
}
.profile .profile-about .profile-bio-container {
  padding: 3rem;
  grid-column: 1/-1;
}
.profile .profile-about .profile-skill-container {
  padding: 3rem;
  grid-row: 2/3;
}
.profile .profile-about .profile-exp-container {
  grid-column: 2/-1;
  grid-row: 2/4;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.profile .profile-about .profile-edu-container {
  grid-row: 3/4;
  padding: 3rem;
}
.profile .profile-about .profile-github-container {
  grid-row: 4/5;
  grid-column: 1/-1;
  padding: 3rem;
}
.profile .profile-about .profile-github-container .profile-github-title {
  display: flex;
  gap: 1rem;
}
.profile
  .profile-about
  .profile-github-container
  .profile-github-repos
  .profile-github-repo {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 10rem;
  width: 30rem;
  height: 40rem;
  max-height: 40rem;
  padding: 2rem;
  border-radius: 9px;
}
.profile
  .profile-about
  .profile-github-container
  .profile-github-repos
  .profile-github-repo
  .profile-github-repo-title {
  font-weight: 700;
  text-decoration: none;
  color: #e67e22;
  font-size: 2.4rem;
}
.profile
  .profile-about
  .profile-github-container
  .profile-github-repos
  .profile-github-repo
  .profile-github-repo-description {
  padding: 1rem;
  height: 18rem;
  max-height: 18rem;
}

/**************************/
/* Edit */
/**************************/
.edit-form-title {
  text-align: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  gap: 3rem;
}
.edit-form .edit-form-container {
  background-color: #fff;
  display: flex;
  padding: 10rem 5rem;
  width: 80rem;
  flex-direction: column;
  border-radius: 9px;
  gap: 3rem;
  align-items: flex-start;
}
.edit-form .edit-form-container .edit-form-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.edit-form .edit-form-container .edit-form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.edit-form .edit-form-container .edit-input-textbox {
  text-align: left;
}
.edit-form .edit-form-container .edit-input-label {
  font-size: 2rem;
}
.edit-form .edit-form-container .edit-form-input {
  padding: 1rem 1.5rem;
  height: 4.5rem;
  width: 50rem;

  border-radius: 9px;
  border: solid 1px #555;
  font-size: 1.8rem;
}
.edit-form .edit-form-container .edit-form-textarea {
  padding: 1rem 1.5rem;
  height: 10rem;
  width: 50rem;

  border-radius: 9px;
  border: solid 1px #555;
  font-size: 1.8rem;
}
.edit-form .edit-form-container .edit-form-date {
  padding: 1rem 1.5rem;
  height: 4.5rem;
  width: 18rem;
  border-radius: 9px;
  border: solid 1px #555;
  font-size: 1.8rem;
}
.edit-form .edit-form-container .edit-form-link-title {
  font-size: 1.8rem;
}
.edit-form .edit-form-container .edit-form-link {
  margin-left: 0.7rem;
}
.edit-form .edit-form-container .edit-form-link:link,
.edit-form .edit-form-container .edit-form-link:visited {
  text-decoration: none;
  color: #e67e22;
}
.edit-form .edit-form-container .edit-form-link:hover,
.edit-form .edit-form-container .edit-form-link:active {
  color: #cf711f;
}
.edit-form .edit-form-container .btn-edit-form {
  margin-top: 2rem;
}
.edit-form .edit-form-container .edit-skills {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.edit-form .edit-form-container .edit-social-icon {
  font-size: 3rem;
}
.edit-form .edit-btn-container {
  display: flex;
  gap: 2rem;
  margin: 10rem 0;
}
/**************************/
/* Post */
/**************************/
.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.posts-container .posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.posts-container .posts .post-card {
  background-color: #fff;
  height: 40rem;
  width: 120rem;
  padding: 3rem;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.posts-container .posts .post-card .post-author {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
  color: #e67e22;
}
.posts-container .posts .post-card .post-author .post-card-author-avatar {
  border-radius: 50%;
  width: 10rem;
}
.posts-container .posts .post-card .post-card-title {
  font-size: 2.4rem;
  font-weight: 600;
}
.posts-container .posts .post-card .post-card-content {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.posts-container .posts .post-card .post-card-delete {
  margin-left: auto;
}
.posts-container .posts .post-card .post-card-date {
  color: #8f8f8f;
  font-size: 1.3rem;
  margin-top: 3rem;
}

.posts-container .posts .post-card .post-card-btns {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

.posts-container .posts .post-card .post-card-btns .post-card-like-btns {
  display: flex;
  gap: 3rem;
}
.posts-container .posts .post-card .post-card-btns .post-card-comment {
  color: #8f8f8f;
  font-size: 2.4rem;
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.posts-container .new-post {
  background-color: #fff;
  height: 40rem;
  width: 120rem;
  padding: 3rem;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.posts-container .new-post .new-post-textarea {
  font-size: 2.4rem;
  border: 1px solid #555;
  padding: 1rem;
  border-radius: 11px;
}
.posts-container .new-post .new-post-submit-btn {
  width: 20rem;
  align-self: flex-end;
}

/**************************/
/* Comments */
/**************************/
.post-top {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #767676;
  padding: 2rem;
  gap: 3rem;
  width: 100vw;
}
.post-top .post-top-author {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.post-top .post-top-content {
  padding: 2rem 10rem;
}
.post-top .post-top-btns {
  padding: 2rem 10rem;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

/**************************/
/* Media Queries */
/**************************/
@media (max-width: 1320px) {
  .mobile-menu {
    display: inline-block;
  }
  .input {
    width: 80vw !important;
  }
  .navbar .logo {
    width: 15rem;
  }
  .navbar .navbar-list {
    display: none;
  }
  .profile .profile-top {
    margin: 5rem 5rem;
  }
  .profile .profile-top .profile-top-info {
    padding-bottom: 10rem;
  }
  .profile .profile-about {
    display: flex;
    flex-direction: column;
    margin: 10rem 15rem;
  }
  .posts-container .posts .post-card {
    width: 100vw;
    padding: 1rem;
    border-radius: 0;
  }
  .posts-container .posts .post-card .post-author {
    padding: 1rem;
  }
  .posts-container .posts .post-card .post-author .post-card-author-avatar {
    width: 8rem;
  }
  .posts-container .new-post {
    width: 100vw;
  }
  .edit-form .edit-form-container {
    width: 100vw;
    border-radius: 0;
  }
}
@media (max-width: 685px) {
  html {
    font-size: 42.5%;
  }
  .mobile-menu {
    display: inline-block;
  }
  .navbar .logo {
    width: 15rem;
  }
  .navbar .navbar-list {
    display: none;
  }
  .developer-title {
    font-size: 2rem;
  }
  .developers-container {
    font-size: 1rem;
    padding: 0;
  }
  .developers-container .developer .developer-avatar {
    width: 5rem;
  }
  .developers-container .developer .developer-btn {
    width: 10rem !important;
    font-size: 6px;
    padding: 1rem;
  }
  .profile-top .profile-top-info {
    padding-bottom: 10rem;
  }
  .profile .profile-top {
    margin: 0;
  }
  .profile .profile-about {
    display: flex;
    flex-direction: column;
    margin: 0rem 0;
    gap: 1rem;
  }
  .posts-container .posts .post-card {
    width: 100vw;
    padding: 1rem;
  }
  .posts-container .new-post {
    width: 100vw;
  }
} /*# sourceMappingURL=style.css.map */
